---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Federico Díaz, aunque la mayoría me conoce como Fede. Motivado 
      por la curiosidad y el deseo de crear soluciones a través de la tecnología, me inicié en el mundo de la programación. Actualmente <strong
      >estudio la carrera de Licenciatura en Sistemas de Información en la Universidad Nacional del Nordeste (UNNE)</strong
      >, donde sigo profundizando mis conocimientos en desarrollo de software y sistemas.
    </p>

    <p>
      Algunos de mis éxitos incluye <strong
        >formar parte del equipo de desarrollo de una aplicación como proyecto final que fue seleccionada la mejor 
        del semestre en la asignatura de Desarrollo de Software</strong
      >.
    </p>

    
  </div>

  <img width="200" height="200" src="/3.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>






